html {
  background-color: rgb(245, 246, 250); 
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #333;
    --min-header-height: 60px;
    --min-footer-height: 80px;
    min-height: 100vh;
    max-width: 1200px;
    background-color: #333;
}

.header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--min-header-height);
    background-color: #0057B7;
}

.logo {
  padding: 0 15px;
  height: var(--min-header-height);
}

.nav {
  padding: 0 50px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 2px 20px;
}

.nav__link:hover {
  background-color: #827676;
  color: black;
  border-radius: 5px;
}

.nav__link:active {
  color: red;
}

.main {
  flex: 1;
  min-height: calc(100vh - var(--min-header-height) - var(--min-footer-height));
} 

.section {
  text-align: center;
}

.section:not(:last-child) {
  padding-bottom: 3px;
}

.section:first-child {
  padding-top: 0;
}

.section:last-child {
  padding-bottom: 0;
}

.highlight {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 10px;
}

.highlight:target {
  animation: highlight 3s forwards;
}

/* #FFD700 */

@keyframes highlight {
  0% {
    background-color: #de9393;
  }
  100% {
    background-color: #fff;
  }
}

.container {
    background-color: #fff;
    padding: 20px 0;
}

p, ul {
    text-align: justify; 
    margin-bottom: 1rem;
    padding: 0 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
    text-align: justify;
    padding: 0 3rem;
}

.footer {
    background: #333;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    min-height: var(--min-footer-height);
    line-height: var(--min-footer-height);
    border-top: 3px solid #fff;
} 

@media screen and (max-width: 907px) {
  body {
    font-size: 8px;
  }

  .footer {
    font-size: 14px;
  }

  .nav {
    padding-right: 3px;
    padding-left: 0;
  }
  
  .nav__link {
    padding: 1px 5px;
  }

  .logo {
    padding-left: 5px;
  }
}
